@import 'tailwindcss';

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, sans-serif;
  --font-serif: var(--font-serif), ui-serif, serif;

  --color-primary: var(--color-primary);
  --color-primaryContrast: var(--color-primaryContrast);
  --color-secondary: var(--color-secondary);
  --color-secondaryContrast: var(--color-secondaryContrast);
  --color-tertiary: var(--color-tertiary);
  --color-tertiaryContrast: var(--color-tertiaryContrast);
  --color-background: var(--color-background);
  --color-paper: var(--color-paper);
  --color-text: var(--color-text);

  /* nb = navbar, at this width links are moved from dropdown into navbar itself */
  --breakpoint-nb: 600px;
}

@layer base {
  /* define theme in HSL values */
  :root {
    --color-primary: hsl(189 100% 25%);
    --color-primaryContrast: hsl(0 0% 100%);

    --color-secondary: hsl(350 100% 40%);
    --color-secondaryContrast: hsl(0 0% 0%);

    --color-tertiary: hsl(189 35% 87.5%);
    --color-tertiaryContrast: hsl(0 0% 0%);

    --color-background: hsl(0 0% 95%);
    --color-paper: hsl(0 0% 100%);
    --color-text: hsl(0 0% 0%);
  }

  /* dark theme overrides */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-secondary: hsl(350 100% 70%);
      --color-secondaryContrast: hsl(0 0% 100%);

      --color-tertiary: hsl(189 35% 17%);
      --color-tertiaryContrast: hsl(0 0% 100%);

      --color-background: hsl(0 0% 10%);
      --color-paper: hsl(0 0% 15%);
      --color-text: hsl(0 0% 100%);
    }
  }
}
